<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="{% static 'common.css' %}" rel="stylesheet" type="text/css">
    <!-- 引入 Bootstrap -->
     <link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
     <link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
     <script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
     <script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.js' %}"></script>
</head>
<body>
<div class="container" style="text-align: center; margin-top: 10px;">
    <h1>搜索</h1>
    <form action="/news_searched/" method="post" role="form">
        <div class="form-group" >
            {% csrf_token %}
            <input size="50" name="kw" value="" class="form-control" style="width:80% ;display: inline-block"/>
            <input type="submit" value="搜索" class="btn btn-default"  style="display: inline-block" />
        </div>
    </form>
</div>

</body>
</html>